@import url('https://fonts.googleapis.com/css?family=Rubik');

a.skip{
    background: white;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: left 1s ease-out;
    z-index: 1;
    position: absolute;
    left: -400px;
    top: -200px;
}
  
  
a.skip:focus{
    top: 20px;
    left: 0px;
    bottom: inherit;
}

header ul{
    overflow: hidden;
    background-color: #BBB;
}

header li{
    display: inline;
    float: left;   
}

li a{
    display: block;
    padding: 12px 14px;
    text-decoration: none;
    font-family: 'SF Pro','Helvetica Neue', sans-serif;
    font-size: 16px;
}

li a:visited{
    color: black;
}


body{
	background-color: #e9e9e9;
    
}



main{
    padding: 30px;
    font-size: 125%;

    background-image: url(../images/28.gradients.ray.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}


main > div {
    margin: 10px 0px 10px 0px;
}

h1{
    font-family: 'Rubik','SF Pro','Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 36px;
    margin: 10px 0px 20px 0px;
    color: #222;
}

h2{
    font-family: 'SF Pro','Helvetica Neue', sans-serif;
    font-weight: 500;
    line-height: 120%;
    font-size: 24px;
    margin-bottom: 10px;
}

h3{
    font-family: 'SF Pro','Helvetica Neue', sans-serif;
    font-weight: 450;
    line-height: 130%;
    font-size: 18px;
    margin-bottom: 10px;
}


@keyframes magnify {
    0%      {width: 95%;}
    50%     {width: 98;}
    75%     {width: 93%;}
    100%    {width: 95%;}
}



img{
    display: block;
    width: 95%;
    margin: 10px auto 10px auto;
    border-radius: 10px;
}

img:hover{
    animation: magnify 1s ease-in-out;
}

@media (prefers-reduced-motion) {
    img:hover {
      animation: none;
    }
  }


main div:nth-child(3n) img{
    border: 4px blue solid;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: auto;
    row-gap: 16px;   
}

.flex-container > div{
    flex-basis: 48%;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
}

.flex-container p{
    margin: 0px 0px 8px 0px;
}




.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

.grid-container > div:not(.alphabet){
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
}




.grid-container > div > ul{
    font-family: 'SF Pro','Helvetica Neue', sans-serif;
    font-size: 75%;
}




.alphabet{
    font-family: 'SF Pro','Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin: 10px 0px -10px 0px;
}

dt{
    font-family: 'SF Pro','Helvetica Neue', sans-serif;
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 500;
}

dd{
    font-family: 'SF Pro','Helvetica Neue', sans-serif;
    font-weight: 450;
    line-height: 130%;
    font-size: 18px;
    margin: 10px 0px 20px 0px;
}

dd:last-child{
    margin-bottom: 0px;
}


body p, dd p{
    font-family: 'SF Pro','Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: normal;
}


p{
    margin: 0px 0px 20px 0px;
}


dd p{
    margin: 5px 0px 0px 0px;
}


nav .active{
    color: white;
    background-color: #333;
}

nav .active:visited{
    color: white;
}

footer{
    background-color: #555;
    color: #FFF;
    padding: 20px 30px 20px 30px;

    font-family: 'SF Pro','Helvetica Neue', sans-serif;;
}

footer a, footer a:visited{
    color: aquamarine;
}



@media screen and (min-width: 750px) {

    img{
        width: 50%;
    }
}


@media (prefers-color-scheme: dark) {
    h1, h2, h3, p, li, .alphabet, dd, dt{
        color: #FFF;
    }
    a{
        color:aqua;
    }
    main{
        background-image: none;
        background-color: #333;
    }
    .flex-container > div,  .grid-container > div:not(.alphabet){
        background-color: #666;
    }
  }